.bar {
  display: flex;
  justify-content: left;
  padding: 5%;
}

.doughnut {
  display: flex;
  align-items: center;
  padding: 5%;
}

.area {
  display: flex;
}

.main {
  display: flex;
  flex-direction: row;
}